$blue: #37718E;
$red: #C33C54;
$black: #1a1a1a;
$black-light: #2c2c2c;
$light-blue: #D8E4FF;
$white: #e4e4e4;

:root{
    --yellow: rgb(253, 224, 93);
    --yellow-light: rgb(253, 224, 93, 0.5);
    --blue: rgb(85, 85, 252);
    --blue-light: rgb(85, 85, 252, 0.5);
}